.body{
  margin: 0;
}
.font{
  font-family: "Almarai", sans-serif;
  font-size: 15px;
}
.color-body{
  height: 100vh;
  background-color: #f8f8f8;
}
.btn-color{
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
  padding: 8px;
}
